.hero{
    width: 100%;
    background-image: url(../../assets/swimmingpoolcopy.jpg);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
   }
   /* Dark overlay */
   .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
   
   }
   .hero-content{
    text-align: center;
    color: whitesmoke;
    width: 80%;
    min-width: 700px;
   
   }
   .hero-content h1{
    font-size: 22px;
    margin-bottom: 20px;
   
   }
   .hero-content p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 30px;
   
   }
   
   /* Button  */
   .hero-content button{
    padding: 15px 35px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    background: rgba(0, 110, 255, 0.921);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
   
   }
   
   .hero-content button:hover{
    background: black;
    text-decoration: underline;
    display: none;
   }

   /* HERO RESPONSIVENESS */
@media(max-width: 768px) {
    .hero{
        height: 88vh;
    }
    .hero-content{
        width: 90%;
        min-width: 0;
    }
    .hero-content h1{
        font-size: 32px;
    }
    .hero-content p{
        font-size: 18px;
    }
    .hero-content button{
        padding: 12px 28px;
        font-size: 16px;
    }

}

@media(max-width: 480px) {
    .hero{
        height: 75vh;
    }

    .hero-content h1{
        font-size: 25px;
        margin-bottom: 15px;
    }

    .hero-content p{
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .hero-content button{
        padding: 10px 22px;
        font-size: 15px;
    }
       
}
